---
export interface Props {
	post: any;
}

import dateFormat from "dateformat";

const { post } = Astro.props;
const publishDate =
	post.publishDate && dateFormat(post.publishDate, "mmm dS, yyyy");
const heroImage = "/images" + post.permalink + "/hero";
---

<a class="preview" href={post.url}>
	<picture class="preview__image">
		<source type="image/avif" srcset={heroImage + ".avif"} />
		<source type="image/webp" srcset={heroImage + ".webp"} />
		<img
			class="hero__image"
			loading="lazy"
			src={heroImage + ".jpg"}
			alt={post.image.alt}
		/>
	</picture>
	<div class="preview__header">
		<h2 class="header__title">{post.title}</h2>
		<p class="header__published">{publishDate}</p>
	</div>
	<p class="preview__desc">{post.description}</p>
</a>

<style lang="scss">
	.preview {
		display: grid;
		grid-template-areas:
			"image"
			"header"
			"desc";

		text-decoration: none;
		color: var(--gray-5);

		&:hover {
			.preview__cta {
				text-decoration: underline;
			}
		}

		&:hover {
			.preview__cta {
				text-decoration: underline;
			}
		}

		@media (--mq-medium) {
			grid-template-columns: 1fr 2fr;
			grid-template-areas:
				"image header"
				"image desc";
			align-items: start;
			gap: 0 1rem;
		}
	}

	.preview__image {
		grid-area: image;

		background: rosybrown;

		& img {
			max-width: 100%;
		}
	}

	.preview__header {
		grid-area: header;

		@media (--mq-medium) {
			display: flex;
			align-items: end;
			gap: 1rem;
		}
	}

	.header__title {
		flex: 1;

		margin: 0;
		font-size: 1.35rem;
		color: var(--gray-2);
	}

	.header__published {
		margin: 0;
	}

	.preview__desc {
		grid-area: desc;

		margin: 0;
	}

	.preview__cta {
		grid-area: cta;
		border-top: 1px solid var(--gray-7);
		text-align: right;
	}
</style>
