---
export interface Props {
	post: any;
}

import dateFormat from "dateformat";

const { post } = Astro.props;
const publishDate =
	post.publishDate && dateFormat(post.publishDate, "mmm dS, yyyy");
---

<article class="post-preview">
	<header class="intro">
		<a class="intro__link" href={post.url}>
			<h1 class="title">{post.title}</h1>
		</a>
		<p class="publish-date">{publishDate}</p>
	</header>
	<p>{post.description}</p>
	<a href={post.url}>Read more</a>
</article>

<style lang="scss">
	.content :global(main > * + *) {
		margin-top: 1rem;
	}

	.post-preview {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	.intro {
	}

	.intro__link {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
	}

	.publish-date,
	.author {
		font-size: 1.25rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
		color: var(--theme-text);
	}
</style>
