---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';
import Audio from '../components/audio.svelte'
import {customMedia} from '../theme.mjs'

const {content} = Astro.props;
const {title, description, publishDate, author, heroImage, permalink, alt} = content;
---

<html lang={ content.lang || 'en' } class="theme-dark">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body class="line-numbers">
    <BlogHeader />
    <div class="wrapper">
      <BlogPost title={title} author={author} heroImage={heroImage} publishDate={publishDate} alt={alt}>
        <slot />
      </BlogPost>
    </div>
    <Audio client:media={customMedia["--mq-medium"]} />
  </body>
</html>

<style>
.wrapper {
  max-width: var(--viewport-large);
  margin: 0 auto;
}
</style>
