---
import Layout from "$layouts/base.astro";
import demos from "$pages/demos/links.json";

const { title, description, permalink } = Astro.props;

interface Link {
	title: string;
	permalink: string;
}

interface LinkGroup {
	title: string;
	links: Link[];
}

function isLinkGroup(link: Link | LinkGroup): link is LinkGroup {
	return "links" in link;
}

function makeLinks(links: (LinkGroup | Link)[], html: string = "") {
	for (const link of links) {
		if (isLinkGroup(link)) {
			html += `
				<li>
					<h2>${link.title}</h2>
					<ul>${makeLinks(link.links)}</ul>
				</li>
			`;
		} else {
			html += `<li><a href="${link.permalink}">${link.title}</a></li>`;
		}
	}

	return html;
};
---

<Layout {title} {description} {permalink} layout="fixed">
	<div class="demo">
		<nav class="demo__nav">
			<ul>{makeLinks(demos)}</ul>
		</nav>
		<slot />
	</div>
</Layout>

<style lang="scss">
	.demo {
		display: grid;
		grid-template-columns: auto 1fr;

		height: 100%;
	}

	.demo__nav {
		display: grid;
		align-content: start;

		padding: 1rem;
		background-color: var(--surface2);
		color: var(--text2);

		& a {
			padding: 0.25rem 0.5rem;
			text-decoration: none;
		}
	}
</style>
