---
import Layout from "$layouts/base.astro";
import demos from "$pages/demos/links.json";

const { title, description, permalink } = Astro.props;

interface Link {
	title: string;
	permalink: string;
}

interface LinkGroup {
	title: string;
	links: Link[];
}

function isLinkGroup(link: Link | LinkGroup): link is LinkGroup {
	return "links" in link;
}

let linkHtml = "";
function makeLinks(links: (LinkGroup | Link)[]) {
	for (const link of links) {
		if (isLinkGroup(link)) {
			linkHtml += `<li>`;
			linkHtml += `<h2>${link.title}</h2>`;
			linkHtml += "<ul>";
			makeLinks(link.links);
			linkHtml += "</ul>";
			linkHtml += "</li>";
		} else {
			linkHtml += `<li><a href="${link.permalink}">${link.title}</a></li>`;
		}
	}
}
makeLinks(demos);
---

<Layout {title} {description} {permalink} layout="fixed">
	<div class="demo">
		<nav class="demo__nav">
			<ul>{linkHtml}</ul>
		</nav>
		<slot />
	</div>
</Layout>

<style lang="scss">
	.demo {
		display: grid;
		grid-template-columns: auto 1fr;

		height: 100%;
	}

	.demo__nav {
		display: grid;
		align-content: start;

		padding: 1rem;
		background-color: var(--surface2);
		color: var(--text2);

		& a {
			padding: 0.25rem 0.5rem;
			text-decoration: none;
		}
	}
</style>
